# Compiled output
/dist
/out
/build
/coverage
.parcel-cache

# Dependency directories
/node_modules

# Environment variables
.env

# IDE files
.vscode
.idea

# TypeScript cache
*.tsbuildinfo

# Debug files
*.log
*.debug.*
